<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588071025526-5a24bug2ihmm9d10utsojsjrsh1g685d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588071025526-5a24bug2ihmm9d10utsojsjrsh1g685d</string>
	<key>API_KEY</key>
	<string>AIzaSyDG2FokGTQIGrBYbJuu4Jvitr8lfMmdrPI</string>
	<key>GCM_SENDER_ID</key>
	<string>588071025526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handongsekki</string>
	<key>PROJECT_ID</key>
	<string>handong-se-kki</string>
	<key>STORAGE_BUCKET</key>
	<string>handong-se-kki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588071025526:ios:3fb0418b4c2c4c197a1857</string>
	<key>DATABASE_URL</key>
	<string>https://handong-se-kki.firebaseio.com</string>
</dict>
</plist>